<nav class="navbar navbar-expand-lg navbar-light bg-dark">
  <a class="navbar-brand text-white" href="#">newneu.</a>
  <button class="navbar-toggler bg-white" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav justify-content-center">
      <li class="nav-item">
        <a class="nav-link text-white" href="https://newneu.stores.jp/">ONLINE STORE</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          SNS
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="https://www.youtube.com/channel/UCt4m4eQX_rRopqWAvIjcCnQ">YouTube 　 [newneu.CHANNEL]</a>
          <a class="dropdown-item" href="https://twitter.com/newneu_store">Twitter　　 [newneu.STORE TOKYO]</a>
          <a class="dropdown-item" href="https://www.instagram.com/newneu.news/?hl=ja">Instagram　[newneu.news]</a>
          <a class="dropdown-item" href="https://www.instagram.com/newneu_tokyo/?hl=ja">Instagram　[newneu.tokyo]</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="#Flex">BRAND CONCEPT</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="#designerprofile">DESIGNER PROFILE</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="#">COMPANY PROFILE</a>
      </li>

    </ul>
  </div>
</nav>