<nav class="navbar navbar-expand-lg navbar-light bg-dark">
  <a class="navbar-brand text-white" href="#">newneu.</a>
  <button class="navbar-toggler bg-white" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link text-white" href="#Flex">BRAND CONCEPT</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="https://newneu.stores.jp/">OnlineStore</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="#Embeds">YouTube</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="#card">SNS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="#designerprofile">DESIGNER PROFILE</a>
      </li>
    </ul>
  </div>
</nav>